<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    <Loggers> 
    	<Logger name="com.ekkelenkamp.netatmo2wow" level="info" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
	    <Root level="error">
	        <AppenderRef ref="stdout"/>
	    </Root>
	</Loggers>
</Configuration>